<% if @job.errors.any? %>
  <%= label_error %>
<% end %>
<section>
  <%= simple_form_for @job, {html: {class: "form-horizontal"}} do |f| %>
    <div class="form-group">
      <%= f.input :title, label: 'Título', class: "form-control",  autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.input :location, label: 'Local' %>
    </div>
    <div class="form-group">
      <%= f.association :category, label: 'Categoria' %>
    </div>
    <div class="form-group">
      <%= f.association :company, label: 'Empresa' %>
    </div>
    <div class="form-group">
      <%= f.input :description, as: :text, label: 'Descrição' %>
    </div>
    <div class="checkbox">
      <%= f.input :featured, label: 'Destaque' %>
    </div>
    <div>
        <%= f.submit submit_text %>
    </div>
  <% end %>
</section>
