<% @jobs.each do |job| %>
  <div>
    <p>
      <h1> <%= job.title %> </h1><br>
      <%= job.category %><br>
      <%= job.company %><br>

      <%= job.location %><br>
      <%= link_to job.title, job %>


    </p>
  </div>

  <% end %>
