<div>
  <p>
    <h1> <%= @company.name %> </h1><br>

    <%= @company.location %><br>
    <%= @company.mail %> <br>
    <%= @company.phone %> <br>

    <%= link_to 'Voltar', root_path %>

    <% if @company.jobs.empty? %>
      <strong> Nenhuma vaga disponível </strong>
    <% end %>

    <aside>
      <%= render partial: 'jobs/job',
                collection: @company.jobs %>
    </aside>


  </p>
</div>
