<div class="row">
  <section class="company">
    <div class="col-md-10">
      <h1> <%= @company.name %> </h1>
      <%= link_to  'Editar', edit_company_path %><br>
      <%= @company.premium? ? (image_tag 'estrela.jpg') : ''   %>
      <%= @company.location %><br>
      <%= @company.mail %> <br>
      <%= @company.phone %> <br>
    </div>
  </section>
  <aside id="jobs">
    <div class = "col-md-2">
      <div class="row">
        <% if @company.jobs.empty? %>
          <strong> Nenhuma vaga disponível </strong>
        <% end %>
        <% @company.jobs.each do |job| %>
            <%= render job %>
        <%end%>
      </div>
    </div>
  </aside>

</div>
